@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  height: 100vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
a {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background-color: inherit;
}
